html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

p{
    color: black;
    font-size: 3vh;
    padding: 20px;
    margin: 10px;
}

.card {
    margin-bottom: 100px;
}

.container-box {
    margin-bottom: 100px;
}

.row {
    margin-bottom: 50px;
}

.text-center {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

header {
    background: no-repeat center center;
    background-size: cover;
    color: white;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 60vh;
}

.singleCol {
    max-width: 750px;

}

footer {
    background-color: #242424;
    
}

footer a {
    color: white;

}

footer a:hover {
    color: #dfdfdf;

}

@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 30vh;
    }
}
